################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RDFPlugin/x64/Debug
/RDFPlugin/Release/RDFPlugin.tlog
/.vs/RDFPlugin
